* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
}

body {
  background-color: var(--bg-body);
}


:root {

  --bg-body: #ecf0f1;
  --bg-body-lighter: #f4f7f8;
  --bg-body-darker: #e0e6e7;

}